<h4>Bonjour cher administrateur,</h4>

<p>Un visisteur vient de soumettre son email sur votre formulaire en ligne.</p>

<p>Consultez votre base de données pour savoir de qui il s'agit</p>

<strong>Bonne journée</strong>
