<h4>Bonjour ({{ username }}),</h4>

<p>
  Je vois que vous avez essayé de réserver une session gratuite de 30 minutes
  pour discuter de votre stratégie marketing dans les prochaines semaines.
  Cependant, vous n'avez pas terminé le processus.
</p>

<p>
  Je vous suggère donc de terminer le processus et de réserver votre appel
  gratuit (d'une valeur de 395 €) en cliquant simplement ici.
</p>

<p>Si vous avez d'autres questions, Je reste à l'écoute .</p>

<p>
  Sinon, je suis presque certain que ce vous êtes à quelques clics de générer
  plus de prospects et de ventes grâce à des stratégies marketing
  extraordinaires .
</p>

<p>Bien à vous,</p>
<strong>Mickael Vieira</strong>
<p>
  *************** <br />
  ***************
</p>
